.navbar {
    padding: 20px 40px 0;
    position: fixed;
    width: 100%;
    color: white;
    z-index: 1;
}

.navbarCont {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px calc(5.5556vw - 40px);
}

.navLeft {
    display: flex;
    align-items: center;
}

.navLeftLink {
    padding: 12px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.navLeftLink a {
    padding: 3px;
}

.navRight {
    display: flex;
    align-items: center;
    gap: 25px;
}