.footerCont {
    display: flex;
    flex-direction: column;
}

.upperFooter {
    display: flex;
    justify-content: space-between;
}

.upperLeft {
    display: flex;
    flex-direction: column;
}

.upperLeft .socials {
    display: flex;
    align-items: center;
}

.upperRight {
    display: flex;
}

.lowerFooter {
    display: flex;
    justify-content: space-between;
    align-items: center;
}